{% extends "index.html" %}

{% block title %}
Tags | {{ config.title }}
{% endblock title%}

{% block content %}
<div class="blog-posts">
	<h2 class="sans nerastro">Tags</h2>
    {% for term in terms %}
	    <a href="{{term.permalink}}">#{{ term.name }}</a>&nbsp;
    {% endfor %}
    </div>
{% endblock content %}
