html {
	line-height: 1.20;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

main {
	display: block;
}

h1 {
	margin: 0.67em 0;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
	overflow-x: auto;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

/* general */
body {
	color: #333;
	font-family: "Helvetica", sans-serif;
	line-height: 1.2;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre, ul, ol, dl, figure, .highlight {
	margin-bottom: 16px;
}

a {
	color: #428bca;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	line-height: 1.5;
}

ul,
ol {
	margin-left: 20px;
}

img {
	display: block;
	margin: 0 0 16px;
	border-radius: 3px;
	max-width: 100%;
}

blockquote {
	color: #a8a8a8;
	border-left: 4px solid #e8e8e8;
	padding-left: 15px;
	font-style: italic;
}

pre {
	padding: 8px 12px;
}

/*
code {
font-size: 16px;
padding: 1px 5px;
border: 1px solid #e8e8e8;
border-radius: 3px;
background-color: #eff1f5;
}
 */

	hr {
		border-color: #fff;
	}

	/* header */
	header {
		border-top: 5px solid #428bca;
		position: relative;
	}

	.header-title-combo {
		width: 100%;
		text-align: center;
		padding: 1rem 0;
	}

	.header-content {
		font-family: sans;
		min-height: 56px;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		position: relative;
		top: 5px;
	}

	.header-content-title {
		font-family: "serif";
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 0;
	}

	.header-title-combo a {
		color: #5c5c5c;
	}

	.header-content-nav {
		width: 100%;
		text-align: 100%;
		line-height: 2rem;
		border-top: 1px dashed #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
	}

	.header-content-nav-icon {
		display: none;
	}

	.header-content-nav-trigger-link {
		color: #5c5c5c;
		line-height: 1.5;
		margin-left: 16px;
	}

	/* blog */
	.blog-posts {
		max-width: 800px;
		margin-right: auto;
		margin-left: auto;
		padding-right: 2rem;
		padding-left: 2rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		position:relative;
	}
	@media screen and (max-width: 800px), (orientation: portrait) {
		.blog-posts {
			max-width: 100%;
			padding-right: 1rem;
			padding-left: 1rem;
		}
	}

	.blog-posts-list {
		margin: 0;
		list-style: none;
	}

	.blog-posts-list-item {
		margin-bottom: 30px;
	}

	.blog-posts-list-item-meta {
		font-size: 0.9em;
		color: #a8a8a8;
	}

	.blog-posts-list-item-link {

	}

	.blog-section-link {
		display: block;
		margin-bottom: 15px;
		font-size: 1rem;
		font-family: sans-serif;
		color: #5c5c5c;
		font-weight: bold;
	}

	.blog-section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 14px;
	}

	/* page / post */
	.page-content {
		max-width: 800px;
		margin-right: auto;
		margin-left: auto;
		padding-right: 2rem;
		padding-left: 2rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	@media screen and (max-width: 800px), (orientation: portrait) {
		.page-content {
			max-width: 100%;
			padding-right: 1rem;
			padding-left: 1rem;
		}
	}

	.page-content h2 {
		font-size: 1.5em;
	}

	.page-content-title {
		font-size: 2em;
		line-height: 1.2;
	}
	@media (max-width: 800px) {
		.page-content-title {
			font-size: 36px;
		}

		html {
			font-size: 112%;
		}
	}

	.page-content-meta {
		color: #a8a8a8;
		margin-bottom: 30px;
	}

	.page-content-body {
		margin-bottom: 30px;
	}

	/* footer */
	footer {
		font-family: sans;
		font-size: 14px;
		border-top: 1px solid #e8e8e8;
		padding: 30px 0;
	}

	.footer-content {
		margin-right: auto;
		margin-left: auto;
		display: flex;
		padding-right: 30px;
		padding-left: 30px;
	}
	@media (max-width: 800px) {
		.footer-content {
			max-width: 760px;
			padding-right: 15px;
			padding-left: 15px;
		}
	}

	.footer-content-left {
		flex: 1;
		color: #a8a8a8;
	}

	.footer-content-right a {
		margin-left: 8px;
	}

	.blog-section-prev{
		color: #5c5c5c;
	}

	.blog-section-next{
		color: #5c5c5c;
		position: absolute;
		right: 0;
	}

	/* custom */
	img {
		max-height: 30vh;
	}

	.motto {
		font-weight: normal;
		position: relative;
		top: -10px;
	}

	.date {
		font-family: monospace;
		font-size: 1rem;
	}

	.blog-posts h1, .blog-posts h2, .blog-posts h3 {
		font-weight: normal;
	}

	.blog-posts-list a {
		font-size: 1.10rem;
	}

	.center {
		text-align: center;
	}

	.img-center img {
		display: block;
		margin: auto;
	}

	.home {
		max-width: 60%; 
		margin: 0 auto;
		padding: 2rem;
	}

	h1#ultimi-contenuti{
		text-align: center;
		margin-top: 2rem;
	}

	.home-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 2rem;
		margin-top: 2rem;
	}

	.sommario {
		margin: 1rem 0;
	}

	a.review-category {
		font-size: 0.8rem;
		font-family: monospace;
		color: #333;
	}

	div.stelle {
		font-size: 1rem;
	}

	.review-list-item h2 {
		margin-bottom: 0;
	}

	.nerastro {
		color: #333;
	}

	.sans {
		font-family: sans-serif;
	}

	@media screen and (orientation: portrait), (max-width: 800px) {
		.home {
			max-width: 100%;
		}
	}

	#header-motto {
		height: 2rem;
		line-height: 2rem;
	}

	.blog-posts-list h2 {
		margin-bottom: 0;
	}

	.section-home {
		margin-bottom: 2rem;
	}
