<p class="text-center">
	<img class="block-center" src="{{src}}" alt="{{desc}}" title="{{desc}}">
	<small>
		{% if desc_url %}
		<a href="{{desc_url}}">{{desc}}</a>
		{% else %}
		{{desc}}
		{% endif %}
		{% if aut %}(Autore: 
		{% if aut_url %}
		<a href="{{aut_url}}">{{aut}}</a>
		{% else %}
		{{aut}}
		{% endif %}
		{% if lic_url %}
		<a href="{{lic_url}}">{{lic}}</a>
		{% else %}
		{{ lic }}
		{% endif %}
		){% endif %}
	</small>
</p>
