<p {% if center %} {%else%} class="center img-center" {% endif %} >
	<a href="{{src}}">
		<img src="{{src}}" {% if desc %} alt="{{desc}}" title="{{desc}}" {% endif %}>
	</a>

{% if desc %}
	<small>
		{% if desc_url %}
		<a href="{{desc_url}}">{{desc}}</a>
		{% else %}
		{{desc}}
		{% endif %}
		{% if aut %}(Autore: 
		{% if aut_url %}
		<a href="{{aut_url}}">{{aut}}</a>
		{% else %}
		{{aut}}
		{% endif %}
		{% if lic_url %}
		<a href="{{lic_url}}">{{lic}}</a>
		{% else %}
		{{ lic }}
		{% endif %}
		){% endif %}
	</small>
{% endif %}
</p>
