{% extends "index.html" %}

{% block title %}
Categorie delle recensioni | {{ config.title }}
{% endblock title%}

{% block extra_head %}
{% if taxonomy.rss %}
<link rel="alternate" type="application/rss+xml" title="{{ term.name }}RSS - config.title"
    href="{{ current_path }}/atom.xml">
{% endif %}
{% endblock extra_head %}

{% block content %}
<div class="blog-posts">
	<h2 class="sans nerastro">Categorie delle recensioni</h2>
	{% for term in terms %}
	<div class="post">
		<h3><a href="{{term.permalink}}">{{ term.name | capitalize}}</a></h3>
	</div>
	{% endfor %}
</div>
{% endblock content %}
