{% extends "index.html" %}

{% block title %}
{{ term.name }} | {{ config.title }}
{% endblock title%}

{% block extra_head %}
{% if taxonomy.rss %}
<link rel="alternate" type="application/rss+xml" title="{{ term.name }}RSS - config.title"
    href="{{ current_path }}/atom.xml">
{% endif %}
{% endblock extra_head %}

{% block content %}
<div class="blog-posts">	
		<a class="blog-section-link" href="..">{{ term.name | capitalize }}</a>
	    	{% if paginator %}
		{{ macros::list_articles(pages=paginator.pages) }}
		{% else %}
		{{ macros::list_articles(pages=term.pages) }}
		{% endif %}

		{{ macros::pagination(paginator=paginator) }}
</div>
{% endblock content %}

{% block feeds %}
Feed delle recensioni su: <a href="{{ current_path }}/atom.xml">{{term.name}}</a>
{% endblock feeds %}

