{% extends "index.html" %}

{% block title %}
  Non trovato | {{ config.title }}
{% endblock title %}

{% block content %}
  <div class="page">
    <div class="page-content">
        <h1 class="page-content-title">404: pagina non trovata</h1>
        <div class="page-content-body">
            Questo link punta a qualcosa che non esiste. <a href={{ config.base_url }}>Vai a casa</a> e torna sulla retta via.
        </div>
    </div>
  </div>
{% endblock content %}
