{% extends "index.html" %}

{% block title %}
  {{ page.title }}
{% endblock title %}

{% block content %}
<main class="page">
    <article class="page-content">
        <h1 class="page-content-title">{{ page.title }}</h1>
        <div class="page-content-body">
            {{ page.content | safe }}
        </div>
    </article>
</main>
{% endblock content %}
