{% extends "section.html" %}

{% block section_presentation %}
<p>Questo è il deposito dei miei pensieri, più qualche guida e qualche contenuto tradotto che ritengo di valore.</p>
{% endblock section_presentation %}

{% block feeds %}
Iscriviti al feed degli <a href="{{ current_path }}/atom.xml">articoli</a>
{% endblock feeds %}
