{% extends "page.html" %}

{% block extra_title %}
<div><a class="review-category" href="{{ macros::get_first_taxonomy_href(page=page, taxonomy="categorie") }}">{{ macros::get_first_taxonomy(page=page, taxonomy="categorie") }}</a></div>
{% endblock extra_title %}
