{% extends "index.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<main class="home">
	<div>
		<div class="section-home" id="cos-e">
			{% set page = get_page(path="circa/cos-e.md") %}
			{{ page.content | safe}}
		</div>

		<div class="section-home" id="chi-sono">
			{% set page = get_page(path="circa/chi-sono.md") %}
			{{ page.content | safe}}
		</div>

		<div class="section-home" id="perche">
			{% set page = get_page(path="circa/perche.md") %}
			{{ page.content | safe}}
		</div>
	</div>
</main>
{% endblock content %}
