{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="it">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

		<title>{% block title %}{{ config.title }}{% endblock title %}</title>

		<link rel="stylesheet" href="/css/henry.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Roboto+Slab|Source+Code+Pro">
		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		{% block extra_head %}
		<link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
		{% endblock extra_head %}
	</head>

	<body>
		<header>
			<div class="header-content">
				<div class="header-title-combo">
					<a href="{{ config.base_url }}"><span class="header-content-title">{{ config.title }}</span></a>

				</div>
				<nav class="header-content-nav">
					<div class="header-content-nav-trigger">
						{% if config.extra.henry_links %}
						{% for link in config.extra.henry_links %}
							{% if link.url %}
								<a class="header-content-nav-trigger-link" href="{{ link.url }}">{{ link.name }}</a>
							{% else %}
							<span class="header-content-nav-trigger-link">—</span>
							{% endif %}
						{% endfor %}
						{% endif %}
					</div>
				</nav>
			</div>
		</header>

		{% block content %}
		<main class="blog">
			<div class="blog-posts">
				{% for seclink in section.subsections %}
				{% set sec = get_section(path=seclink) %}

				<div class="blog-section">
					<a class="blog-section-link" href="{{ sec.permalink }}">{{ sec.title }}</a>
					<ul class="blog-posts-list">
						{% for page in sec.pages %}
						{% if loop.index == 6 %} {% break %} {% endif %}
						<li class="blog-posts-list-item">
							<span class="blog-posts-list-item-meta date">
								{{ page.date | date(format="%d/%m/%Y") }}
							</span>
							<h2>
								<a class="blog-posts-list-item-link" href="{{ page.permalink }}">{{ page.title }}</a>
							</h2>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}
			</div>
		</main>
		{% endblock content %}

		<footer>
			<div class="footer-content">
				<div class="footer-content-left">
					{% block feeds %}
					Categorie:
					&nbsp;
					<a href="/categorie">Articoli</a>
					&nbsp;
					<a href="/recensione">Recensioni</a>
					{% endblock feeds %}
				</div>
				<div class="footer-content-right">
					{% for item in config.extra.henry_social %}
					<a rel="me" href="{{item.url}}">{{item.name}}</a>
					{%endfor%}
				</div>
			</div>
		</footer>
	</body>
</html>
