{% macro list_articles(pages) %}
	{% for page in pages %}
		<ul class="blog-posts-list">
		<li class="blog-posts-list-item">
			<span class="blog-posts-list-item-meta">{{ page.date | date(format="%d/%m/%Y") }}</span>
			<h2>
			<a class="blog-posts-list-item-link" href="{{ page.permalink }}">{{ page.title }}</a>
		</h2>
		</li>
		</ul>
	{% endfor %}
{% endmacro list_articles %}

{% macro list_tags(page) %}
	{% if page.taxonomies.tags %}
		{% for tag in page.taxonomies.tags %}
			<a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" class="post-tag">#{{ tag }}</a>
		{% endfor %}
	{% endif %}
{% endmacro list_tags %}

{% macro pagination(paginator) %}
<div>
    {% if paginator.previous %}
    <a rel="prev" href="{{paginator.previous}}" class="blog-section-prev">Più recenti</a>
    {% endif %}
    {% if paginator.next %}
    <a rel="next" href="{{paginator.next}}" class="blog-section-next">Più vecchi</a>
    {% endif %}
</div>
{% endmacro paginator %}

{% macro print_stars(page) %}
{% set voto = page.extra["voto"] %}
{% for i in range(end=voto) %}
★
{% endfor %}
{% for i in range(end=5-voto) %}
☆
{% endfor %}
{% endmacro print_stars %}

{% macro summary(page) %}
{% if page.summary %}
	{{ page.summary }}
{% else %}
	{{ page.content | striptags | truncate(length=250) }}
{% endif %}
{% endmacro summary %}

{% macro get_first_taxonomy_href(page, taxonomy) %}
{{ get_taxonomy_url(kind=taxonomy, name=page.taxonomies[taxonomy].0) }}
{% endmacro get_first_taxonomy_href %}

{% macro get_first_taxonomy(page, taxonomy) %}
{{ page.taxonomies[taxonomy].0 | capitalize }}
{% endmacro get_first_taxonomy %}
