{% extends "section.html" %}

{% block section_presentation %}
<p>Questa è una raccolta di idee e concetti che mi sembra di aver capito e che non voglio dimenticare, una via di mezzo tra uno zettelkasten e una wiki personale. Non c'è volutamente un punto d'ingresso, tutti i concetti sono paritari e densamente collegati.</p>
{% endblock section_presentation %}

{% block feeds %}
(Se proprio ti interessa) iscriviti al feed delle <a href="{{ current_path }}/atom.xml">note</a>
{% endblock feeds %}
