{% extends "index.html" %}

{% block title %}
{{ page.title }} | {{ config.title }}
{% endblock title %}

{% block content %}
<main class="page">
	<article class="page-content" itemscope itemtype="http://schema.org/BlogPosting">
		{% block extra_title %}
		{% endblock extra_title %}
		<h1 class="page-content-title" itemprop="name headline">{{ page.title }}</h1>
		<div class="page-content-body" itemprop="articleBody">
			{{ page.content | safe }}
		</div>
	</article>
</main>
{% endblock content %}
