{% extends "section.html" %}

{% block section_presentation %}
<p>Questo è il luogo dove raccolgo, catalogo e valuto ciò che mi è piaciuto e ciò che no, per voi e per me stesso.</p>
{% endblock section_presentation %}


{% block list %}
{% for page in paginator.pages %}
<li class="review-list-item">
	<div><span class="stelle">{{ macros::print_stars(page=page) }}</span></div>
	<h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
	<div><a class="review-category" href="{{ get_taxonomy_url(kind="recensione", name=page.taxonomies["recensione"].0)}}">{{ page.taxonomies["recensione"].0 | capitalize}}</a></div>
	<div class="sommario">
		{{ macros::summary(page=page) }}
	</div>
</li>

{% endfor %}
{% endblock list %}

{% block feeds %}
Iscriviti al feed delle <a href="{{current_path}}/atom.xml">recensioni</a>
{% endblock feeds %}

