{% extends "index.html" %}


{% block title %}
{{ section.title }}
{% endblock title %}


{% block content %}
<div class="blog-posts">
	<a class="blog-section-link">{{ section.title }}</a>
	{% block section_presentation %}
	{% endblock section_presentation %}
	<ul class="blog-posts-list">
		{% block list %}
		{% for page in paginator.pages %}
		<li class="blog-posts-list-item">
			<h2>
				<a class="blog-posts-list-item-link" href="{{ page.permalink }}">{{ page.title }}</a>
			</h2>
			<div class="summary">
				{{ macros::summary(page=page) }}
			</div>
		</li>
		{% endfor %}
		{% endblock list %}
	</ul>
	{% if paginator.previous %}<a class="blog-section-prev" href="{{ paginator.previous }}">Più recenti</a>{%endif%}
	&nbsp;
	{% if paginator.next %}<a class="blog-section-next" href="{{ paginator.next }}">Più vecchi</a>{%endif%}
</div>

{% endblock content %}

