{% extends "index.html" %}

{% block title %}
Categorie | {{ config.title }}
{% endblock title%}

{% block content %}
<div class="blog-posts">
	<h2 class="sans nerastro">Categorie</h2>
	{% for term in terms %}
	<div class="post">
		<h3><a href="{{term.permalink}}">{{ term.name }}</a></h3>
	</div>
	{% endfor %}
</div>
{% endblock content %}

